id ICON "../hydra/hydra.ico"

1 VERSIONINFO
FILEVERSION     16,3,0,0
PRODUCTVERSION  16,3,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Zeno Rogue"
      VALUE "FileDescription", "A math puzzle roguelike"
      VALUE "FileVersion", "16.3"
      VALUE "InternalName", "hydra"
      VALUE "LegalCopyright", "Zeno Rogue"
      VALUE "OriginalFilename", "hydra.exe"
      VALUE "ProductName", "Hydra Slayer"
      VALUE "ProductVersion", "16.3"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
